<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Fecha</th>
      <!-- Agrega más columnas según la estructura de la respuesta -->
    </tr>
  </thead>
  <tbody>
    <% @scheduled_events.each do |event| %>
      <tr>
        <td><%= event['name'] %></td>
        <td><%= event['date'] %></td>
        <!-- Agrega más celdas según la estructura de la respuesta -->
      </tr>
    <% end %>
  </tbody>
</table>