<h1>Calendly Authentication</h1>

<p>Calendly has been successfully connected to Enronda Backoffice.</p>

<p>Click <a href="<%= root_path %>">here</a> to return to the home page.</p>
<p>Click <a href="<%= calendly_events_path %>">here</a> to view your scheduled events.</p>