<h1>Bienvenido a tu aplicación con integración de Calendly</h1>
<p>¡Aquí puedes administrar tus eventos programados!</p>

<%= link_to 'Ver Eventos Programados',calendly_scheduled_events_path, class: 'btn btn-primary' %>
