<div class="container mx-auto">
  <p class="text-gray-600">&copy; <%= Date.today.year %> Enronda Backoffice. All rights reserved.</p>
  <!-- Comenta el bloque de navegación -->
  <!--
  <nav class="mt-2">
    <ul class="flex justify-center space-x-4">
      <li><%= link_to 'Home', root_path, class: 'text-blue-500 hover:text-blue-700' %></li>
      <li><a href="javascript:void(0)" class="text-blue-500 hover:text-blue-700">About</a></li>
      <li><a href="javascript:void(0)" class="text-blue-500 hover:text-blue-700">Contact</a></li>
      <li><a href="javascript:void(0)" class="text-blue-500 hover:text-blue-700">Privacy Policy</a></li>
      <li><a href="javascript:void(0)" class="text-blue-500 hover:text-blue-700">Terms of Service</a></li>
    </ul>
  </nav>
  -->
</div>
