<header>
<h1 class="text-4xl font-bold text-purple-600 my-6">Enronda Backoffice</h1>
  <!--
  <nav>
    <ul>
      <li><%= link_to 'Home', root_path %></li>
      <li><a href="javascript:void(0)">About</a></li>
      <li><a href="javascript:void(0)">Contact</a></li>
    </ul>
  </nav>
  -->
</header>