<header class="bg-purple-600 text-white py-4">
  <div class="container mx-auto flex justify-between items-center">
    <div class="text-2xl font-bold">
      <a href="<%= root_path %>" class="text-white">
        Enronda
      </a>
    </div>
      <% if user_signed_in? %>
        <%= link_to 'Logout', destroy_user_session_path, data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' }, class: 'bg-purple-800 hover:bg-purple-500 text-white font-medium py-2 px-4 rounded-md' %>
      <% else %>
        <%= link_to 'Login', new_user_session_path, class: 'bg-purple-800 hover:bg-purple-500 text-white font-medium py-2 px-4 rounded-md' %>
      <% end %>
    </div>
  </div>
</header>
